main {
    max-width: 650px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 18px;
}


.form__input {
    font-family: "Karla", sans-serif;
    text-indent: 5px;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
}

.form__btn {
    font-family: "Karla", sans-serif;
    grid-column: 1 / -1;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.meme__img {
    width: 100%;
    align-self: center;
    margin-top: 20px;
    border-radius: 5px;
}
