main {
    max-width: 650px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 18px;
    margin-bottom: 20px;
}


.form__input {
    font-family: "Karla", sans-serif;
    text-indent: 5px;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
}

.form__btn {
    font-family: "Karla", sans-serif;
    grid-column: 1 / -1;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.meme {
    position: relative;
    .meme__img {
        width: 100%;
        align-self: center;
        border-radius: 5px;
    }
    .meme__text {
        position: absolute;
        width: 80%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        margin: 15px 0;
        padding: 0 5px;
        font-family: impact, sans-serif;
        font-size: 2em;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;
        text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            2px 2px 5px #000;
    }
    .top {
        top: 0;
    }
    .bottom {
        bottom: 0;
    }
}

